
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/admin.cshtml";
}
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/vendor/datepicker/moment.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
<link href="~/vendor/mdi-font/css/material-design-iconic-font.css" rel="stylesheet" />
<script src="~/vendor/datepicker/daterangepicker.js"></script>
<script src="~/vendor/global.js"></script>
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
<script src="~/vendor/jquery/jquery.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<link href="~/vendor/font-awesome-4.7/css/font-awesome.css" rel="stylesheet" />

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                
                <div class="container">
                    <div class="container">
                        <div class="copy-right">
                            <div class="container">
                                <p>
                                    2017-ARID-3560
                                </p>
                            </div>
                        </div>
                        <div class="header-bot">
                            <div class="header-bot_inner_wthreeinfo_header_mid">
                                <!-- header-bot-->
                                <div class="col-md-12 logo_agile">
                                    <h1>
                                        <span>A</span>dministration<br />

                                    </h1>
                                </div>
                                <!-- header-bot -->
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- top-header -->
                        <div class="header-most-top">
                            <p>PMAS ARID AGRICULTURE UNIVERSITY RAWALPINDI (BIIT)</p>
                        </div>
                        <!-- //top-header -->
                        <!-- header-bot-->
                        <div class="header-bot">
                            <div class="header-bot_inner_wthreeinfo_header_mid">
                                <!-- header-bot-->
                                <div class="col-md-12 logo_agile">
                                    <h1>

                                        <span>O</span>line
                                        <span>G</span>rocery
                                        <span>O</span>rder &
                                        <span>C</span>alories
                                        <img src="~/images/logo2.png" alt=" ">

                                    </h1>
                                </div>
                                <!-- header-bot -->
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!-- //navigation -->
                        <!-- //footer -->
                        <!-- copyright -->
                        <div class="copy-right">
                            <div class="container">
                                <p>
                                    2017-ARID-3560
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>